<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<body>

    <div th:replace="navbar/patient_navbar :: nav"></div>
<div class="container">
    <div class="row">
        <h1>Welcome to Hospital 101!</h1>
        <h2>Welcome, Patient <span th:text="${user.name}"></span>. Here is your patient record.</h2>
        <div><br></div>
        <h3>Patient Information</h2>
        <div>
            <table>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td th:text="${user.name}"></td>
                </tr>
                <tr>
                    <td><strong>Age:</strong></td>
                    <td th:text="${user.age}"></td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr>
                    <td><strong>Role:</strong></td>
                    <td th:text="${user.role}"></td>
                </tr>
            </table>
        </div>
        <div><br></div>
        <h3>Patient Disease</h3>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>patient disease id</th>
                        <th>patient id</th>
                        <th>doctor name</th>
                        <th>disease name</th>
                        <th>status</th>
                        <th>request status</th>
                        <th>created at</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate over patientDiseases list -->
                    <tr th:each="patientDisease : ${patientDiseases}">
                        <td th:text="${patientDisease.pdId}"></td>
                        <td th:text="${patientDisease.userId}"></td>
                        <td th:text="${patientDisease.doctorName}"></td>
                        <td th:text="${patientDisease.diseaseName}"></td>
                        <td th:text="${patientDisease.status}"></td>
                        <td th:text="${patientDisease.requestStatus}"></td>
                        <td th:text="${patientDisease.createdAt}"></td>
                        <td><button class="btn btn-primary" th:onclick="'requestButtonClick(' + ${patientDisease.pdId} + ')'">Request</button></td>
                    </tr>
                </tbody>              
            </table>
        </div>
        <div><br></div>
    </div>
</div>
</body>
</html>

<script th:inline="javascript">
    function requestButtonClick(pdId) {
        
        // Make an AJAX request to update the request status
        $.ajax({
            type: 'POST',
            url: '/update-request-status',
            data: { pdId: pdId },
            success: function(response) {
                // Handle success, update the UI or perform additional actions
                alert('Request status updated successfully');
                location.reload(); 
            },
            error: function(error) {
                // Handle error
                console.error('Error updating request status', error);
            }
        });
    }
</script>