<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/Footer/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Footer/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="/Footer/css/Article-List.css" />
    <link rel="stylesheet" href="/Footer/css/Footer-Dark.css" />
    <link rel="stylesheet" href="/Footer/css/styles.css" />
    <link rel="stylesheet" href="/nav-bar/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/nav-bar/css/Contact-Form-Clean.css" />
    <link rel="stylesheet" href="/nav-bar/css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="/nav-bar/css/Navigation-with-Button.css" />
    <link
      rel="stylesheet"
      href="/nav-bar/css/Registration-Form-with-Photo.css"
    />
    <link rel="stylesheet" href="/nav-bar/css/styles.css" />
    <link rel="stylesheet" href="/nav-bar/css/Team-Boxed.css" />
    <title>Save disease</title>
  </head>

  <body>
    <div th:replace="navbar/admin_navbar :: nav"></div>
    <div class="container">
      <div class="text-center">
        <h2>[[${pageTitle}]]</h2>
      </div>

      <form
        th:action="@{/diseases/save}"
        method="post"
        th:object="${disease}"
        style="max-width: 500px; margin: 0 auto"
      >
        <input type="hidden" th:field="*{id}" />
        <div class="border border-secondary rounded p-3">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Disease name:</label>
            <div class="col-sm-8">
              <input
                type="text"
                th:field="*{diseaseName}"
                placeholder="Disease Name"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description:</label>
            <div class="col-sm-8">
              <input
                type="text"
                th:field="*{diseaseDescription}"
                placeholder="Description"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Treatment plan:</label>
            <div class="col-sm-8">
              <select class="form-control" th:field="*{tp_id}" required>
                <th:block th:each="listTP : ${listTPs}">
                  <option
                    th:value="${listTP.tpID}"
                    th:text="${listTP.tp_name}"
                  />
                </th:block>
              </select>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">Save</button>
            <button
              type="button"
              class="btn btn-secondary m-2"
              onclick="cancelForm();"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
      <div class="m-4"></div>
    </div>
    <script type="text/javascript">
      function cancelForm() {
        window.location = "[[@{/diseases/list}]]";
      }
    </script>
  </body>
</html>
